<!doctype html>
<html>
<head>
<title>project4</title>
</head>
<body>
    <tbody>
<!--
    <tr>
        <th>label</th>
        <th>form_elements</th>
        </tr>
        <tr>
        <td>username</td>
        <td>
            <br>
        <input type="text"
               name="uname"
               id="uname"placeholder="EnterUserName"value="sample">
            </td>
            <td>
            <input type="password"
                   name="password"
                   id="password"placeholder="EnterPassword">
        </td>
            <td>
                <br>
            <input type="radio"
                   name="gender"
                   id="male">Male
                <input type="radio"
                       name="gender"
                       id="female">Female
                <input type="radio"
                       name="gender"
                       id="anyother">AnyOther
            </td>
-->
            <style>
            table,th,td{
            border: 1px solid black;
            }
            </style>
    <table style="width:100%">
        <tr>
   
            <th>CarOwner</th>
            <th>CarMake</th>
            <th>CarModel</th>
            <th>CarYear</th>
        </tr>
        <tr>
        <td>David Kincaid</td>
            <td>Honda</td>
            <td>Civic</td>
            <td>2003</td>
        </tr>
        <tr>
            <td>Mike Sizemore</td>
            <td>Honda</td>
            <td>Crv</td>
            <td>2011</td>
<!--
        </tr>
        <form action="demo_form.asp">
            <input type="text" carownername="coname"
                   placeholder="CarOwnerName"><br>
            <input type="text" cmake="cmake"
                   placeholder="CarMake"><br>
            <input type="text" cmodel="cmodel"
                   placeholder="CarModel"><br>
            <input type="date" cyear="caryear"
                   placeholder="CarYear">
        </tr>
-->
    </table>
<!--
    <input type="checkbox"
           name="toyota"
           value="1">Toyota
-->
</tr>
    </tbody>
<br>
    <input type ="submit"value="submit">
    </body>
</html>